:root
{
	/*General customization*/

	--column-highlight-color: #1A73E8;
	--transition-time: 0.2s;
	--column-row-heigth: 18px;
	--column-text-align: left;
	--data-row-heigth: 24px;
	--descendent-arrow: url("data:image/svg+xml;utf8,%09%09%09%09%09%09%09%09%09%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20d%3D%22M12.44%206.44L9%209.88%205.56%206.44%204.5%207.5%209%2012l4.5-4.5z%22/%3E%3C/svg%3E");
	--ascendent-arrow: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20d%3D%22M9%206l-4.5%204.5%201.06%201.06L9%208.12l3.44%203.44%201.06-1.06z%22/%3E%3C/svg%3E");
	--undefined-arrow: url("data:image/svg+xml;utf8,%3Csvg%3E%3C%2Fsvg%3E");
}


*
{
	box-sizing: border-box;
	font-size: 12px !important;
	color: #000 !important;
	font-family: Segoe UI, sans-serif;
}

table 
{
	background-color: #FFFFFF;
    font-family: Segoe UI;
    font-size: 12px;
    border-collapse: collapse;
    width: 70%; 
    border: 1px solid #CDCDCD;
	box-shadow: 0px 0px 4px -1px rgba(156,156,156,1);
}

td
{
	border: 1px solid #DADADA;
    border-collapse: collapse;
}

table > tbody > tr
{
	height: var(--data-row-heigth);
	border: 1px solid #DADADA;
}

table > tbody > tr:hover
{
	color: #000000;
	background-color: #F1F6FD;
	 transition: var(--transition-time);
}

tr:nth-child(even)
{
	background-color: #F9F9F9;
}


tr:nth-child(even):hover
{
	color: #000000;
	background-color: #F1F6FD;
	transition: 0.2s;
}

th
{
	border: 1px solid #CDCDCD;
	padding: 0px;
}

.unsortable
{
	cursor: default;
}

.sortable
{
	cursor: pointer;
}


.column
{
	padding: calc( var(--column-row-heigth)*0.25);
	background-color: #F3F3F3;

	background-image: var(--ascending-arrow);	
	background-repeat: no-repeat;
	background-position: 99% 50%;
	background-size: 24px, 24px;
  
  	padding-right: 5%;  

  	text-align: var(--column-text-align);

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.noselect 
{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
           
}


.undefined
{
	background-image: var(--undefined-arrow);
}

.ascending
{
	background-image: var(--ascendent-arrow);
}

.descending
{
	background-image: var(--descendent-arrow);
}

.column:hover
{
	box-shadow: 0px -1px 0px var(--column-highlight-color) inset;
	background-color: #E6E6E6;
    transition: var(--transition-time);
}


.td-email
{
	display: table-cell;
	vertical-align: inherit;

	/*text length > max-width is reduced with "..."*/
	max-width: 75px !important; 
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	font-style: italic;

	
	padding: 3px;

	
}

.td-text
{
	display: table-cell;
	vertical-align: inherit;

	/*text length > max-width is reduced with "..."*/
	max-width: 75px !important; 
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	
	padding: 3px;

	
}

